
.main{
  background-image: url(./travel-guru-master/Image/Rectangle\ 1.png);
  background-position: center center;
  background-size: cover;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
